In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from datetime import datetime as dt
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)

In [ ]:
df= pd.read_csv(r'train.csv',parse_dates=['Crash Date/Time'])
tst_data = pd.read_csv(r'test (1).csv',parse_dates=['Crash Date/Time'])

E:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51490 entries, 0 to 51489
Data columns (total 42 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Report Number                   51490 non-null  object
 1   Local Case Number               45037 non-null  object
 2   Agency Name                     51490 non-null  object
 3   ACRS Report Type                51490 non-null  object
 4   Crash Date/Time                 51490 non-null  datetime64[ns]
 5   Route Type                      46522 non-null  object
 6   Road Name                       46988 non-null  object
 7   Cross-Street Type               46471 non-null  object
 8   Cross-Street Name               46968 non-null  object
 9   Off-Road Description            6950 non-null   object
 10  Municipality                    7567 non-null   object
 11  Related Non-Motorist            3648 non-null   object
 12  Collision Type                  51191 non-null  object
 13  Weather                         47461 non-null  object
 14  Surface Condition               45611 non-null  object
 15  Light                           50786 non-null  object
 16  Traffic Control                 43716 non-null  object
 17  Driver Substance Abuse          42395 non-null  object
 18  Non-Motorist Substance Abuse    3384 non-null   object
 19  Person ID                       51490 non-null  object
 20  Injury Severity                 51490 non-null  object
 21  Circumstance                    11752 non-null  object
 22  Drivers License State           48962 non-null  object
 23  Vehicle ID                      51490 non-null  object
 24  Vehicle Damage Extent           51093 non-null  object
 25  Vehicle First Impact Location   51268 non-null  object
 26  Vehicle Second Impact Location  51256 non-null  object
 27  Vehicle Body Type               50705 non-null  object
 28  Vehicle Movement                51292 non-null  object
 29  Vehicle Continuing Dir          50361 non-null  object
 30  Vehicle Going Dir               50377 non-null  object
 31  Speed Limit                     51490 non-null  int64
 32  Driverless Vehicle              51490 non-null  object
 33  Parked Vehicle                  51490 non-null  object
 34  Vehicle Year                    51490 non-null  int64
 35  Vehicle Make                    51482 non-null  object
 36  Vehicle Model                   51471 non-null  object
 37  Equipment Problems              40824 non-null  object
 38  Latitude                        51490 non-null  float64
 39  Longitude                       51490 non-null  float64
 40  Location                        51490 non-null  object
 41  Fault                           51490 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(36)
memory usage: 16.5+ MB

In [ ]:
tst_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77235 entries, 0 to 77234
Data columns (total 42 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Id                              77235 non-null  int64
 1   Report Number                   77235 non-null  object
 2   Local Case Number               67162 non-null  object
 3   Agency Name                     77235 non-null  object
 4   ACRS Report Type                77235 non-null  object
 5   Crash Date/Time                 77235 non-null  datetime64[ns]
 6   Route Type                      69768 non-null  object
 7   Road Name                       70166 non-null  object
 8   Cross-Street Type               69755 non-null  object
 9   Cross-Street Name               70164 non-null  object
 10  Off-Road Description            7069 non-null   object
 11  Municipality                    8498 non-null   object
 12  Related Non-Motorist            2248 non-null   object
 13  Collision Type                  76990 non-null  object
 14  Weather                         71239 non-null  object
 15  Surface Condition               68182 non-null  object
 16  Light                           76615 non-null  object
 17  Traffic Control                 65185 non-null  object
 18  Driver Substance Abuse          63152 non-null  object
 19  Non-Motorist Substance Abuse    1777 non-null   object
 20  Person ID                       77235 non-null  object
 21  Injury Severity                 77235 non-null  object
 22  Circumstance                    14545 non-null  object
 23  Drivers License State           73315 non-null  object
 24  Vehicle ID                      77235 non-null  object
 25  Vehicle Damage Extent           77099 non-null  object
 26  Vehicle First Impact Location   77154 non-null  object
 27  Vehicle Second Impact Location  77096 non-null  object
 28  Vehicle Body Type               76128 non-null  object
 29  Vehicle Movement                77082 non-null  object
 30  Vehicle Continuing Dir          76034 non-null  object
 31  Vehicle Going Dir               76034 non-null  object
 32  Speed Limit                     77235 non-null  int64
 33  Driverless Vehicle              77235 non-null  object
 34  Parked Vehicle                  77235 non-null  object
 35  Vehicle Year                    77235 non-null  int64
 36  Vehicle Make                    77222 non-null  object
 37  Vehicle Model                   77201 non-null  object
 38  Equipment Problems              60811 non-null  object
 39  Latitude                        77235 non-null  float64
 40  Longitude                       77235 non-null  float64
 41  Location                        77235 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(36)
memory usage: 24.7+ MB

In [ ]:
df.isnull().sum().sort_values(ascending = False)/len(df)*100

Non-Motorist Substance Abuse      93.427850
Related Non-Motorist              92.915129
Off-Road Description              86.502233
Municipality                      85.303943
Circumstance                      77.176151
Equipment Problems                20.714702
Driver Substance Abuse            17.663624
Traffic Control                   15.098077
Local Case Number                 12.532531
Surface Condition                 11.417751
Cross-Street Type                  9.747524
Route Type                         9.648475
Cross-Street Name                  8.782288
Road Name                          8.743445
Weather                            7.824820
Drivers License State              4.909691
Vehicle Continuing Dir             2.192659
Vehicle Going Dir                  2.161585
Vehicle Body Type                  1.524568
Light                              1.367256
Vehicle Damage Extent              0.771023
Collision Type                     0.580695
Vehicle Second Impact Location     0.454457
Vehicle First Impact Location      0.431152
Vehicle Movement                   0.384541
Vehicle Model                      0.036900
Vehicle Make                       0.015537
Location                           0.000000
Longitude                          0.000000
Latitude                           0.000000
Parked Vehicle                     0.000000
Vehicle Year                       0.000000
Report Number                      0.000000
Driverless Vehicle                 0.000000
Speed Limit                        0.000000
Vehicle ID                         0.000000
Injury Severity                    0.000000
Person ID                          0.000000
Crash Date/Time                    0.000000
ACRS Report Type                   0.000000
Agency Name                        0.000000
Fault                              0.000000
dtype: float64

In [ ]:
tst_data.isnull().sum().sort_values(ascending = False)/len(df)*100

Non-Motorist Substance Abuse      146.548844
Related Non-Motorist              145.634104
Off-Road Description              136.271121
Municipality                      133.495824
Circumstance                      121.751796
Equipment Problems                 31.897456
Driver Substance Abuse             27.350942
Traffic Control                    23.402602
Local Case Number                  19.563022
Surface Condition                  17.582055
Cross-Street Type                  14.527093
Route Type                         14.501845
Cross-Street Name                  13.732764
Road Name                          13.728879
Weather                            11.644980
Drivers License State               7.613129
Vehicle Going Dir                   2.332492
Vehicle Continuing Dir              2.332492
Vehicle Body Type                   2.149932
Light                               1.204117
Collision Type                      0.475821
Vehicle Movement                    0.297145
Vehicle Second Impact Location      0.269955
Vehicle Damage Extent               0.264129
Vehicle First Impact Location       0.157312
Vehicle Model                       0.066032
Vehicle Make                        0.025248
Id                                  0.000000
Vehicle Year                        0.000000
Driverless Vehicle                  0.000000
Latitude                            0.000000
Longitude                           0.000000
Parked Vehicle                      0.000000
Injury Severity                     0.000000
Speed Limit                         0.000000
Vehicle ID                          0.000000
Report Number                       0.000000
Person ID                           0.000000
Crash Date/Time                     0.000000
ACRS Report Type                    0.000000
Agency Name                         0.000000
Location                            0.000000
dtype: float64

In [ ]:
df['Non-Motorist Substance Abuse']

0                       NaN
1                       NaN
2                       NaN
3                       NaN
4        MEDICATION PRESENT
                ...
51485                   NaN
51486                   NaN
51487                   NaN
51488    N/A, NONE DETECTED
51489                   NaN
Name: Non-Motorist Substance Abuse, Length: 51490, dtype: object

In [ ]:
df['Non-Motorist Substance Abuse'].isnull().sum()

48106

In [ ]:
tst_data['Non-Motorist Substance Abuse'].isnull().sum()

75458

In [ ]:
df['Non-Motorist Substance Abuse'].value_counts()

NONE DETECTED                     1333
N/A, NONE DETECTED                 275
ALCOHOL PRESENT                    275
MEDICATION PRESENT                 267
ILLEGAL DRUG PRESENT               262
UNKNOWN                            258
ALCOHOL PRESENT, NONE DETECTED     248
NONE DETECTED, UNKNOWN             241
ALCOHOL CONTRIBUTED                225
Name: Non-Motorist Substance Abuse, dtype: int64

In [ ]:
tst_data['Non-Motorist Substance Abuse'].value_counts()

NONE DETECTED                 1615
UNKNOWN                         70
ALCOHOL PRESENT                 61
ALCOHOL CONTRIBUTED             18
N/A, NONE DETECTED               5
MEDICATION PRESENT               2
OTHER                            1
ILLEGAL DRUG CONTRIBUTED         1
NONE DETECTED, UNKNOWN           1
ILLEGAL DRUG PRESENT             1
COMBINATION CONTRIBUTED          1
COMBINED SUBSTANCE PRESENT       1
Name: Non-Motorist Substance Abuse, dtype: int64

In [ ]:
df.drop(['Non-Motorist Substance Abuse'],axis=1,inplace=True)
tst_data.drop(['Non-Motorist Substance Abuse'],axis=1,inplace=True)

In [ ]:
df.drop(['Related Non-Motorist'],axis=1,inplace=True)
tst_data.drop(['Related Non-Motorist'],axis=1,inplace=True)

In [ ]:
df.drop(['Off-Road Description','Municipality','Circumstance'],axis=1,inplace=True)
tst_data.drop(['Off-Road Description','Municipality','Circumstance'],axis=1,inplace=True)

In [ ]:
df.isnull().sum().sort_values(ascending = False)/len(df)*100

Equipment Problems                20.714702
Driver Substance Abuse            17.663624
Traffic Control                   15.098077
Local Case Number                 12.532531
Surface Condition                 11.417751
Cross-Street Type                  9.747524
Route Type                         9.648475
Cross-Street Name                  8.782288
Road Name                          8.743445
Weather                            7.824820
Drivers License State              4.909691
Vehicle Continuing Dir             2.192659
Vehicle Going Dir                  2.161585
Vehicle Body Type                  1.524568
Light                              1.367256
Vehicle Damage Extent              0.771023
Collision Type                     0.580695
Vehicle Second Impact Location     0.454457
Vehicle First Impact Location      0.431152
Vehicle Movement                   0.384541
Vehicle Model                      0.036900
Vehicle Make                       0.015537
Report Number                      0.000000
Parked Vehicle                     0.000000
Latitude                           0.000000
Longitude                          0.000000
Location                           0.000000
Vehicle Year                       0.000000
Vehicle ID                         0.000000
Driverless Vehicle                 0.000000
Speed Limit                        0.000000
Injury Severity                    0.000000
Person ID                          0.000000
Crash Date/Time                    0.000000
ACRS Report Type                   0.000000
Agency Name                        0.000000
Fault                              0.000000
dtype: float64

In [ ]:
tst_data.isnull().sum().sort_values(ascending = False)/len(df)*100

Equipment Problems                31.897456
Driver Substance Abuse            27.350942
Traffic Control                   23.402602
Local Case Number                 19.563022
Surface Condition                 17.582055
Cross-Street Type                 14.527093
Route Type                        14.501845
Cross-Street Name                 13.732764
Road Name                         13.728879
Weather                           11.644980
Drivers License State              7.613129
Vehicle Continuing Dir             2.332492
Vehicle Going Dir                  2.332492
Vehicle Body Type                  2.149932
Light                              1.204117
Collision Type                     0.475821
Vehicle Movement                   0.297145
Vehicle Second Impact Location     0.269955
Vehicle Damage Extent              0.264129
Vehicle First Impact Location      0.157312
Vehicle Model                      0.066032
Vehicle Make                       0.025248
Driverless Vehicle                 0.000000
Latitude                           0.000000
Vehicle Year                       0.000000
Parked Vehicle                     0.000000
Longitude                          0.000000
Id                                 0.000000
Speed Limit                        0.000000
Vehicle ID                         0.000000
Report Number                      0.000000
Injury Severity                    0.000000
Person ID                          0.000000
Crash Date/Time                    0.000000
ACRS Report Type                   0.000000
Agency Name                        0.000000
Location                           0.000000
dtype: float64

In [ ]:
df['Equipment Problems'].value_counts()

NO MISUSE              35041
UNKNOWN                 4072
OTHER                    325
AIR BAG FAILED           315
BELT(S) MISUSED          286
BELTS/ANCHORS BROKE      265
FACING WRONG WAY         264
STRAP/TETHER LOOSE       256
Name: Equipment Problems, dtype: int64

In [ ]:
df_train = df
df_test = tst_data
Colns_null_count = dict(df_train.isnull().sum())
Colns_null_count_t = dict(df_test.isnull().sum())
for key, value in Colns_null_count_t.items():
    if value != 0:
        tst_data[key] = tst_data[key].astype(str)
        tst_data[key].fillna(tst_data[key].mode(), inplace=True)
for key, value in Colns_null_count.items():
    if value != 0:
        df[key] = df[key].astype(str)
        df[key].fillna(df[key].mode(), inplace=True)

In [ ]:
df.isnull().sum()

Report Number                     0
Local Case Number                 0
Agency Name                       0
ACRS Report Type                  0
Crash Date/Time                   0
Route Type                        0
Road Name                         0
Cross-Street Type                 0
Cross-Street Name                 0
Collision Type                    0
Weather                           0
Surface Condition                 0
Light                             0
Traffic Control                   0
Driver Substance Abuse            0
Person ID                         0
Injury Severity                   0
Drivers License State             0
Vehicle ID                        0
Vehicle Damage Extent             0
Vehicle First Impact Location     0
Vehicle Second Impact Location    0
Vehicle Body Type                 0
Vehicle Movement                  0
Vehicle Continuing Dir            0
Vehicle Going Dir                 0
Speed Limit                       0
Driverless Vehicle                0
Parked Vehicle                    0
Vehicle Year                      0
Vehicle Make                      0
Vehicle Model                     0
Equipment Problems                0
Latitude                          0
Longitude                         0
Location                          0
Fault                             0
dtype: int64

In [ ]:
print(df.isnull().sum().sort_values(ascending = False).shape)
tst_data.isnull().sum().sort_values(ascending = False).shape

(37,)

(37,)

In [ ]:
df.isnull().sum().sort_values(ascending = False)/len(df)*100

Report Number                     0.0
Vehicle Damage Extent             0.0
Vehicle Second Impact Location    0.0
Vehicle Body Type                 0.0
Vehicle Movement                  0.0
Vehicle Continuing Dir            0.0
Vehicle Going Dir                 0.0
Speed Limit                       0.0
Driverless Vehicle                0.0
Parked Vehicle                    0.0
Vehicle Year                      0.0
Vehicle Make                      0.0
Vehicle Model                     0.0
Equipment Problems                0.0
Latitude                          0.0
Longitude                         0.0
Location                          0.0
Vehicle First Impact Location     0.0
Vehicle ID                        0.0
Local Case Number                 0.0
Drivers License State             0.0
Agency Name                       0.0
ACRS Report Type                  0.0
Crash Date/Time                   0.0
Route Type                        0.0
Road Name                         0.0
Cross-Street Type                 0.0
Cross-Street Name                 0.0
Collision Type                    0.0
Weather                           0.0
Surface Condition                 0.0
Light                             0.0
Traffic Control                   0.0
Driver Substance Abuse            0.0
Person ID                         0.0
Injury Severity                   0.0
Fault                             0.0
dtype: float64

In [ ]:
tst_data.isnull().sum().sort_values(ascending = False)/len(df)*100

Id                                0.0
Vehicle ID                        0.0
Vehicle First Impact Location     0.0
Vehicle Second Impact Location    0.0
Vehicle Body Type                 0.0
Vehicle Movement                  0.0
Vehicle Continuing Dir            0.0
Vehicle Going Dir                 0.0
Speed Limit                       0.0
Driverless Vehicle                0.0
Parked Vehicle                    0.0
Vehicle Year                      0.0
Vehicle Make                      0.0
Vehicle Model                     0.0
Equipment Problems                0.0
Latitude                          0.0
Longitude                         0.0
Vehicle Damage Extent             0.0
Drivers License State             0.0
Report Number                     0.0
Injury Severity                   0.0
Local Case Number                 0.0
Agency Name                       0.0
ACRS Report Type                  0.0
Crash Date/Time                   0.0
Route Type                        0.0
Road Name                         0.0
Cross-Street Type                 0.0
Cross-Street Name                 0.0
Collision Type                    0.0
Weather                           0.0
Surface Condition                 0.0
Light                             0.0
Traffic Control                   0.0
Driver Substance Abuse            0.0
Person ID                         0.0
Location                          0.0
dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51490 entries, 0 to 51489
Data columns (total 37 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Report Number                   51490 non-null  object
 1   Local Case Number               51490 non-null  object
 2   Agency Name                     51490 non-null  object
 3   ACRS Report Type                51490 non-null  object
 4   Crash Date/Time                 51490 non-null  datetime64[ns]
 5   Route Type                      51490 non-null  object
 6   Road Name                       51490 non-null  object
 7   Cross-Street Type               51490 non-null  object
 8   Cross-Street Name               51490 non-null  object
 9   Collision Type                  51490 non-null  object
 10  Weather                         51490 non-null  object
 11  Surface Condition               51490 non-null  object
 12  Light                           51490 non-null  object
 13  Traffic Control                 51490 non-null  object
 14  Driver Substance Abuse          51490 non-null  object
 15  Person ID                       51490 non-null  object
 16  Injury Severity                 51490 non-null  object
 17  Drivers License State           51490 non-null  object
 18  Vehicle ID                      51490 non-null  object
 19  Vehicle Damage Extent           51490 non-null  object
 20  Vehicle First Impact Location   51490 non-null  object
 21  Vehicle Second Impact Location  51490 non-null  object
 22  Vehicle Body Type               51490 non-null  object
 23  Vehicle Movement                51490 non-null  object
 24  Vehicle Continuing Dir          51490 non-null  object
 25  Vehicle Going Dir               51490 non-null  object
 26  Speed Limit                     51490 non-null  int64
 27  Driverless Vehicle              51490 non-null  object
 28  Parked Vehicle                  51490 non-null  object
 29  Vehicle Year                    51490 non-null  int64
 30  Vehicle Make                    51490 non-null  object
 31  Vehicle Model                   51490 non-null  object
 32  Equipment Problems              51490 non-null  object
 33  Latitude                        51490 non-null  float64
 34  Longitude                       51490 non-null  float64
 35  Location                        51490 non-null  object
 36  Fault                           51490 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(31)
memory usage: 14.5+ MB

In [ ]:
tst_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77235 entries, 0 to 77234
Data columns (total 37 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Id                              77235 non-null  int64
 1   Report Number                   77235 non-null  object
 2   Local Case Number               77235 non-null  object
 3   Agency Name                     77235 non-null  object
 4   ACRS Report Type                77235 non-null  object
 5   Crash Date/Time                 77235 non-null  datetime64[ns]
 6   Route Type                      77235 non-null  object
 7   Road Name                       77235 non-null  object
 8   Cross-Street Type               77235 non-null  object
 9   Cross-Street Name               77235 non-null  object
 10  Collision Type                  77235 non-null  object
 11  Weather                         77235 non-null  object
 12  Surface Condition               77235 non-null  object
 13  Light                           77235 non-null  object
 14  Traffic Control                 77235 non-null  object
 15  Driver Substance Abuse          77235 non-null  object
 16  Person ID                       77235 non-null  object
 17  Injury Severity                 77235 non-null  object
 18  Drivers License State           77235 non-null  object
 19  Vehicle ID                      77235 non-null  object
 20  Vehicle Damage Extent           77235 non-null  object
 21  Vehicle First Impact Location   77235 non-null  object
 22  Vehicle Second Impact Location  77235 non-null  object
 23  Vehicle Body Type               77235 non-null  object
 24  Vehicle Movement                77235 non-null  object
 25  Vehicle Continuing Dir          77235 non-null  object
 26  Vehicle Going Dir               77235 non-null  object
 27  Speed Limit                     77235 non-null  int64
 28  Driverless Vehicle              77235 non-null  object
 29  Parked Vehicle                  77235 non-null  object
 30  Vehicle Year                    77235 non-null  int64
 31  Vehicle Make                    77235 non-null  object
 32  Vehicle Model                   77235 non-null  object
 33  Equipment Problems              77235 non-null  object
 34  Latitude                        77235 non-null  float64
 35  Longitude                       77235 non-null  float64
 36  Location                        77235 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(31)
memory usage: 21.8+ MB

In [ ]:
#Report number columns skipped

In [ ]:
df['Fault'] 
#Target columns

0        1
1        1
2        0
3        1
4        0
        ..
51485    0
51486    1
51487    0
51488    0
51489    0
Name: Fault, Length: 51490, dtype: int64

In [ ]:
np.count_nonzero(df['Vehicle ID'].unique())

49160

In [ ]:
np.count_nonzero(tst_data['Vehicle ID'].unique())

77235

In [ ]:
df['Vehicle ID'].value_counts()

C22943-CC22F    4
5799AF-0001B    3
978E10-66358    3
D39AC5-F8B1A    3
5B842C-8724D    3
               ..
71550C-2199F    1
8B1253-5D3FC    1
7CD6E6-79A48    1
179B64-0F0C4    1
F93136-9251E    1
Name: Vehicle ID, Length: 49160, dtype: int64

In [ ]:
df.drop(['Vehicle ID'],axis=1,inplace=True)
tst_data.drop(['Vehicle ID'],axis=1,inplace=True)

In [ ]:
print(np.count_nonzero(df['Location'].unique()))
np.count_nonzero(tst_data['Location'].unique())

38953

53350

In [ ]:
tst_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77235 entries, 0 to 77234
Data columns (total 36 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Id                              77235 non-null  int64
 1   Report Number                   77235 non-null  object
 2   Local Case Number               77235 non-null  object
 3   Agency Name                     77235 non-null  object
 4   ACRS Report Type                77235 non-null  object
 5   Crash Date/Time                 77235 non-null  datetime64[ns]
 6   Route Type                      77235 non-null  object
 7   Road Name                       77235 non-null  object
 8   Cross-Street Type               77235 non-null  object
 9   Cross-Street Name               77235 non-null  object
 10  Collision Type                  77235 non-null  object
 11  Weather                         77235 non-null  object
 12  Surface Condition               77235 non-null  object
 13  Light                           77235 non-null  object
 14  Traffic Control                 77235 non-null  object
 15  Driver Substance Abuse          77235 non-null  object
 16  Person ID                       77235 non-null  object
 17  Injury Severity                 77235 non-null  object
 18  Drivers License State           77235 non-null  object
 19  Vehicle Damage Extent           77235 non-null  object
 20  Vehicle First Impact Location   77235 non-null  object
 21  Vehicle Second Impact Location  77235 non-null  object
 22  Vehicle Body Type               77235 non-null  object
 23  Vehicle Movement                77235 non-null  object
 24  Vehicle Continuing Dir          77235 non-null  object
 25  Vehicle Going Dir               77235 non-null  object
 26  Speed Limit                     77235 non-null  int64
 27  Driverless Vehicle              77235 non-null  object
 28  Parked Vehicle                  77235 non-null  object
 29  Vehicle Year                    77235 non-null  int64
 30  Vehicle Make                    77235 non-null  object
 31  Vehicle Model                   77235 non-null  object
 32  Equipment Problems              77235 non-null  object
 33  Latitude                        77235 non-null  float64
 34  Longitude                       77235 non-null  float64
 35  Location                        77235 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(3), object(30)
memory usage: 21.2+ MB

In [ ]:
df.shape

(51490, 36)

In [ ]:
tst_data.shape

(77235, 36)

In [ ]:
df

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Crash Date/Time,Route Type,Road Name,Cross-Street Type,Cross-Street Name,Collision Type,...,Driverless Vehicle,Parked Vehicle,Vehicle Year,Vehicle Make,Vehicle Model,Equipment Problems,Latitude,Longitude,Location,Fault
0,MP060D,10196,Montgomery County Police,Injury Crash,2017-06-05 16:27:00,Maryland (State),OLD HUNDRED RD,County,THURSTON RD,SINGLE VEHICLE,...,No,No,2005,GMC,TRUCK,NO MISUSE,39.263378,-77.344203,3.6383 7.4233,1
1,MP000X,20080,Montgomery County Police,Injury Crash,2020-02-22 10:00:00,County,JANET RD,County,FLACK ST,STRAIGHT MOVEMENT ANGLE,...,No,Yes,2018,FORD,FIESTA,NO MISUSE,39.068913,-77.063227,3.0862 7.324,1
2,MP070N,10103,Montgomery County Police,Property Damage Crash,2017-06-11 08:21:00,Maryland (State),COLESVILLE RD,Maryland (State),STRUC #15082,SAME DIRECTION RIGHT TURN,...,No,No,2016,NEW FLYER,TBU,NO MISUSE,38.993578,-77.032718,3.9583 7.3783,0
3,MP130Y,10208,Montgomery County Police,Injury Crash,2019-05-10 07:30:00,County,PARKLAND DR,County,FRANKFORT DR,OTHER,...,No,No,2001,CHEV,SUBURBAN,OTHER,39.083480,-77.086933,"3.84,-70633",1
4,MP770Y,1091,Montgomery County Police,Injury Crash,2016-08-02 17:00:00,Maryland (State),OLD GEORGETOWN RD,County,MCKINLEY ST,SAME DIR REAR END,...,No,No,2013,KIA,RIO,NO MISUSE,38.996942,-77.109168,3.9917 7.0183,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,MP6308,10034,Montgomery County Police,Injury Crash,2019-02-27 10:58:00,Maryland (State),GEORGIA AVE,County,GOLD MINE RD,SAME DIRECTION LEFT TURN,...,No,Yes,2001,CAT,IT38H,NO MISUSE,39.175678,-77.058543,3.7683 7.5533,0
51486,MP2104,20221,Montgomery County Police,Injury Crash,2020-06-29 13:29:00,Maryland (State),FREDERICK RD,County,E GUDE DR,SAME DIR REAR END,...,No,No,2006,LEXUS,SC430,NO MISUSE,39.105883,-77.157818,3.0833 7.5887,1
51487,MP240M,1007,Montgomery County Police,Injury Crash,2016-10-04 15:17:00,Maryland (State),FREDERICK RD,County,BRINK RD,HEAD ON LEFT TURN,...,No,No,2005,PONTIAC,VAN,NO MISUSE,39.191402,-77.266897,3.9417 7.6867,0
51488,D5102,1034,Rockville Police Departme,Injury Crash,2016-07-05 09:52:00,Municipality,WOOTTON PKWY,Municipality,TOWER OAKS BLVD,SAME DIRECTION RIGHT TURN,...,No,No,2009,FORD,FLEX,NO MISUSE,39.066993,-77.153778,3.6933 7.5783,0
51489,MP560L,10006,Montgomery County Police,Property Damage Crash,2017-05-16 05:37:00,County,RANDOLPH RD,County,GLENALLAN AVE,STRAIGHT MOVEMENT ANGLE,...,No,No,2016,MACK,TRUCK,NO MISUSE,39.060417,-77.044988,3.2733 7.12,0

In [ ]:
df['Vehicle Damage Extent'].value_counts()

DISABLING      17970
FUNCTIONAL     13350
SUPERFICIAL    12963
DESTROYED       2377
NO DAMAGE       2056
UNKNOWN         2025
nan              397
OTHER            352
Name: Vehicle Damage Extent, dtype: int64

In [ ]:
# one hot encoding
def onehot(df,col,tst_data):
    enc = OneHotEncoder(sparse=False,handle_unknown='ignore')
    color_onehot = enc.fit_transform(df[[col]])
    test_onehot=enc.transform(tst_data[[col]])
    #to print the encoded features for train data
    new=pd.DataFrame(color_onehot, columns=list(col+enc.categories_[0]))
    new_test= pd.DataFrame(test_onehot, columns=list(col+enc.categories_[0]))
    df.reset_index(drop=True, inplace=True)
    new.reset_index(drop=True, inplace=True)
    new_test.reset_index(drop=True, inplace=True)
    tst_data.reset_index(drop=True, inplace=True)
    #print(new)
    #print(df)
    df.drop([col],axis=1,inplace=True)
    tst_data.drop([col],axis=1,inplace=True)
    return(df,new,tst_data,new_test)
# tranform encoding for test data
#test_onehot = enc.transform(X_test[['color']])
#to print the encoded features for train data
#pd.DataFrame(test_onehot, columns=list(enc.categories_[0]))

In [ ]:
df.isnull().sum()

Report Number                     0
Local Case Number                 0
Agency Name                       0
ACRS Report Type                  0
Crash Date/Time                   0
Route Type                        0
Road Name                         0
Cross-Street Type                 0
Cross-Street Name                 0
Collision Type                    0
Weather                           0
Surface Condition                 0
Light                             0
Traffic Control                   0
Driver Substance Abuse            0
Person ID                         0
Injury Severity                   0
Drivers License State             0
Vehicle Damage Extent             0
Vehicle First Impact Location     0
Vehicle Second Impact Location    0
Vehicle Body Type                 0
Vehicle Movement                  0
Vehicle Continuing Dir            0
Vehicle Going Dir                 0
Speed Limit                       0
Driverless Vehicle                0
Parked Vehicle                    0
Vehicle Year                      0
Vehicle Make                      0
Vehicle Model                     0
Equipment Problems                0
Latitude                          0
Longitude                         0
Location                          0
Fault                             0
dtype: int64

In [ ]:
df,new,tst_data,new_test =onehot(df,'Vehicle Damage Extent',tst_data)
df=pd.concat([df,new],axis=1)
tst_data=pd.concat([tst_data,new_test],axis=1)

In [ ]:
tst_data.shape

(77235, 43)

In [ ]:
df.shape

(51490, 43)

In [ ]:
df['Parked Vehicle'] = [0 if x=='No' else 1 for x in df['Parked Vehicle']]
tst_data['Parked Vehicle'] = [0 if x=='No' else 1 for x in tst_data['Parked Vehicle']]

In [ ]:
df['Parked Vehicle']

0        0
1        1
2        0
3        0
4        0
        ..
51485    1
51486    0
51487    0
51488    0
51489    0
Name: Parked Vehicle, Length: 51490, dtype: int64

In [ ]:
tst_data['Parked Vehicle']

0        0
1        0
2        0
3        0
4        0
        ..
77230    0
77231    0
77232    0
77233    0
77234    0
Name: Parked Vehicle, Length: 77235, dtype: int64

In [ ]:
df['Driverless Vehicle'] = [0 if x=='No' else 1 for x in df['Driverless Vehicle']]
tst_data['Driverless Vehicle'] = [0 if x=='No' else 1 for x in tst_data['Driverless Vehicle']]

In [ ]:
df['Driverless Vehicle']

0        0
1        0
2        0
3        0
4        0
        ..
51485    0
51486    0
51487    0
51488    0
51489    0
Name: Driverless Vehicle, Length: 51490, dtype: int64

In [ ]:
tst_data['Driverless Vehicle']

0        0
1        0
2        0
3        0
4        0
        ..
77230    0
77231    0
77232    0
77233    0
77234    0
Name: Driverless Vehicle, Length: 77235, dtype: int64

In [ ]:
df['Equipment Problems'].value_counts()

NO MISUSE              35041
nan                    10666
UNKNOWN                 4072
OTHER                    325
AIR BAG FAILED           315
BELT(S) MISUSED          286
BELTS/ANCHORS BROKE      265
FACING WRONG WAY         264
STRAP/TETHER LOOSE       256
Name: Equipment Problems, dtype: int64

In [ ]:


df,new,tst_data,new_test =onehot(df,'Equipment Problems',tst_data)
df=pd.concat([df,new],axis=1)
tst_data=pd.concat([tst_data,new_test],axis=1)

In [ ]:
tst_data['Speed Limit'].describe()

count    77235.000000
mean        32.814916
std         11.050466
min          0.000000
25%         30.000000
50%         35.000000
75%         40.000000
max         70.000000
Name: Speed Limit, dtype: float64

In [ ]:
df['Speed Limit'].describe()

count    51490.000000
mean        32.895319
std         11.696668
min          0.000000
25%         25.000000
50%         35.000000
75%         40.000000
max         70.000000
Name: Speed Limit, dtype: float64

In [ ]:
df[(df['Vehicle Year']>1886)&(df['Vehicle Year']<2020)].shape

(48824, 51)

In [ ]:
tst_data[(tst_data['Vehicle Year']>1886)&(tst_data['Vehicle Year']<2020)].shape

(74436, 51)

In [ ]:
df['Vehicle Year'].describe()

count    51490.000000
mean      1974.545465
std        483.279428
min          0.000000
25%       2005.000000
50%       2010.000000
75%       2014.000000
max       9999.000000
Name: Vehicle Year, dtype: float64

In [ ]:
df['Vehicle Year'] = [2015 if x>2021 else x for x in df['Vehicle Year']]
df['Vehicle Year'] = [1990 if x<1886 else x for x in df['Vehicle Year']]

In [ ]:
tst_data['Vehicle Year'] = [2015 if x>2021 else x for x in tst_data['Vehicle Year']]
tst_data['Vehicle Year'] = [1990 if x<1886 else x for x in tst_data['Vehicle Year']]

In [ ]:
df[(df['Vehicle Year']>1886)&(df['Vehicle Year']<2020)].shape

(50808, 51)

In [ ]:
tst_data[(tst_data['Vehicle Year']>1886)&(tst_data['Vehicle Year']<2020)].shape

(76198, 51)

In [ ]:
df['Vehicle Year'].describe()

count    51490.000000
mean      2008.463410
std          8.994678
min       1900.000000
25%       2005.000000
50%       2010.000000
75%       2014.000000
max       2021.000000
Name: Vehicle Year, dtype: float64

In [ ]:
tst_data['Vehicle Make'].value_counts()

TOYOTA     10345
HONDA       8436
FORD        7814
NISSAN      3939
TOYT        3870
           ...
MECEDEZ        1
TURT           1
CADALIC        1
JEDEP          1
FRGH           1
Name: Vehicle Make, Length: 1189, dtype: int64

In [ ]:
df['Vehicle Make'].value_counts()
#df['Vehicle Make'] = [x if (x=='TOYOTA' | x='HONDA'|x=='FORD' | x='TOYT'|x=='TOYOTA' | x='HONDA'|    else 'Others' for x in df['Vehicle Year']]

TOYOTA           6597
HONDA            5432
FORD             4945
TOYT             2518
NISSAN           2489
                 ...
SAFT                1
FPRD                1
JEEB                1
GOLF                1
GRUMMAN OLSEN       1
Name: Vehicle Make, Length: 887, dtype: int64

In [ ]:
df[df['Local Case Number']=='nan']

,Report Number,Local Case Number,Agency Name,ACRS Report Type,Crash Date/Time,Route Type,Road Name,Cross-Street Type,Cross-Street Name,Collision Type,...,Vehicle Damage Extentnan,Equipment ProblemsAIR BAG FAILED,Equipment ProblemsBELT(S) MISUSED,Equipment ProblemsBELTS/ANCHORS BROKE,Equipment ProblemsFACING WRONG WAY,Equipment ProblemsNO MISUSE,Equipment ProblemsOTHER,Equipment ProblemsSTRAP/TETHER LOOSE,Equipment ProblemsUNKNOWN,Equipment Problemsnan
10,MP9602,nan,Montgomery County Police,Injury Crash,2021-05-05 12:21:00,County,BRIGGS CHANEY RD,Ramp,RAMP 1 FR US29 NB TO BRIGGS CHANEY RD WB,STRAIGHT MOVEMENT ANGLE,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
23,MP190N,nan,Montgomery County Police,Property Damage Crash,2019-02-13 15:19:00,nan,NEW HAMPSHIRE AVE,nan,16201 NEW HAMPSHIRE AVE,STRAIGHT MOVEMENT ANGLE,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
27,MP110Y,nan,Montgomery County Police,Property Damage Crash,2021-01-12 17:14:00,County,GOSHEN RD,Maryland (State),MIDCOUNTY HWY,HEAD ON,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
32,MP920C,nan,MONTGOMERY,Injury Crash,2015-12-07 14:51:00,Ramp,RAMP 6 FR IS 495 EB TO MD 650 SB,Maryland (State),WHITTIER BLVD,SAME DIR REAR END,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
37,MP0706,nan,Montgomery County Police,Injury Crash,2021-05-21 22:54:00,US (State),COLUMBIA PIKE,County,MUSGROVE RD,STRAIGHT MOVEMENT ANGLE,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51425,MP110Z,nan,Montgomery County Police,Fatal Crash,2021-08-23 17:15:00,County,SHADY GROVE RD,County,BRIARDALE RD,SAME DIR REAR END,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
51433,MP010G,nan,Montgomery County Police,Injury Crash,2018-02-23 07:00:00,US (State),COLUMBIA PIKE,County,STEWART LA,HEAD ON LEFT TURN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
51448,MP2000,nan,Montgomery County Police,Property Damage Crash,2021-03-29 19:55:00,County,LINDEN LA,County,WARREN ST,HEAD ON,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
51456,MP850F,nan,MONTGOMERY,Property Damage Crash,2015-12-30 12:43:00,County,AVENEL RD,County,PAULA DR,OTHER,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
51468,D8900,nan,Takoma Park Police Depart,Property Damage Crash,2021-03-31 18:10:00,County,UNIVERSITY BLVD E SERV RD,Maryland (State),UNIVERSITY BLVD E,SAME DIRECTION LEFT TURN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
df.drop(['Vehicle Make'],axis=1,inplace=True)

In [ ]:
tst_data.drop(['Vehicle Make'],axis=1,inplace=True)

In [ ]:
tst_data.drop(['Vehicle Model'],axis=1, inplace=True)

In [ ]:
df.drop(['Vehicle Model'],axis=1, inplace=True)

In [ ]:
tst_data['Vehicle Going Dir']

0        North
1         West
2        North
3         West
4        North
         ...
77230     East
77231    North
77232    North
77233     East
77234    South
Name: Vehicle Going Dir, Length: 77235, dtype: object

In [ ]:
df['Vehicle Going Dir']

0        Unknown
1          South
2           West
3          South
4          South
          ...
51485      North
51486      North
51487      North
51488      North
51489       East
Name: Vehicle Going Dir, Length: 51490, dtype: object

In [ ]:



df,new,tst_data,new_test =onehot(df,'Vehicle Going Dir',tst_data)
df=pd.concat([df,new],axis=1)
tst_data=pd.concat([tst_data,new_test],axis=1)

In [ ]:
df.shape

(51490, 54)

In [ ]:
tst_data.shape

(77235, 54)

In [ ]:




df,new,tst_data,new_test =onehot(df,'Vehicle Continuing Dir',tst_data)
df=pd.concat([df,new],axis=1)
tst_data=pd.concat([tst_data,new_test],axis=1)

In [ ]:
df['Vehicle Movement'] = [x if ((x=='MOVING CONSTANT SPEED') | (x=='SLOWING OR STOPPING') |( x=='STOPPED IN TRAFFIC LANE')|(x=='MAKING LEFT TURN')|( x=='ACCELERATING')|(x=='MAKING RIGHT TURN')|( x=='STARTING FROM LANE')|(x=='CHANGING LANES')) else 'OTHER' for x in df['Vehicle Movement']]

In [ ]:
tst_data['Vehicle Movement'] = [x if ((x=='MOVING CONSTANT SPEED') | (x=='SLOWING OR STOPPING') |( x=='STOPPED IN TRAFFIC LANE')|(x=='MAKING LEFT TURN')|( x=='ACCELERATING')|(x=='MAKING RIGHT TURN')|( x=='STARTING FROM LANE')|(x=='CHANGING LANES')) else 'OTHER' for x in tst_data['Vehicle Movement']]

In [ ]:


df,new,tst_data,new_test =onehot(df,'Vehicle Movement',tst_data)
df=pd.concat([df,new],axis=1)
tst_data=pd.concat([tst_data,new_test],axis=1)

In [ ]:
tst_data['Vehicle Body Type'].value_counts()

PASSENGER CAR                                                53553
(SPORT) UTILITY VEHICLE                                       7078
PICKUP TRUCK                                                  3020
VAN                                                           2235
TRANSIT BUS                                                   1549
SCHOOL BUS                                                    1264
nan                                                           1107
POLICE VEHICLE/NON EMERGENCY                                   945
OTHER LIGHT TRUCKS (10,000LBS (4,536KG) OR LESS)               944
CARGO VAN/LIGHT TRUCK 2 AXLES (OVER 10,000LBS (4,536 KG))      835
OTHER                                                          784
POLICE VEHICLE/EMERGENCY                                       712
MEDIUM/HEAVY TRUCKS 3 AXLES (OVER 10,000LBS (4,536KG))         640
MOTORCYCLE                                                     418
UNKNOWN                                                        407
STATION WAGON                                                  340
TRUCK TRACTOR                                                  233
AMBULANCE/EMERGENCY                                            218
FIRE VEHICLE/EMERGENCY                                         206
OTHER BUS                                                      198
FIRE VEHICLE/NON EMERGENCY                                     136
RECREATIONAL VEHICLE                                            99
AMBULANCE/NON EMERGENCY                                         82
ALL TERRAIN VEHICLE (ATV)                                       65
SNOWMOBILE                                                      58
MOPED                                                           40
AUTOCYCLE                                                       19
LOW SPEED VEHICLE                                               16
CROSS COUNTRY BUS                                               13
FARM VEHICLE                                                    12
LIMOUSINE                                                        9
Name: Vehicle Body Type, dtype: int64

In [ ]:
df['Vehicle Body Type'].value_counts()

PASSENGER CAR                                                34162
(SPORT) UTILITY VEHICLE                                       4493
PICKUP TRUCK                                                  2060
VAN                                                           1471
TRANSIT BUS                                                   1124
SCHOOL BUS                                                     869
nan                                                            785
POLICE VEHICLE/NON EMERGENCY                                   669
OTHER LIGHT TRUCKS (10,000LBS (4,536KG) OR LESS)               629
CARGO VAN/LIGHT TRUCK 2 AXLES (OVER 10,000LBS (4,536 KG))      600
OTHER                                                          600
POLICE VEHICLE/EMERGENCY                                       557
MEDIUM/HEAVY TRUCKS 3 AXLES (OVER 10,000LBS (4,536KG))         512
UNKNOWN                                                        353
MOTORCYCLE                                                     312
STATION WAGON                                                  298
TRUCK TRACTOR                                                  221
OTHER BUS                                                      214
FIRE VEHICLE/EMERGENCY                                         188
AMBULANCE/EMERGENCY                                            187
FIRE VEHICLE/NON EMERGENCY                                     182
RECREATIONAL VEHICLE                                           132
AMBULANCE/NON EMERGENCY                                        125
SNOWMOBILE                                                     116
ALL TERRAIN VEHICLE (ATV)                                      108
MOPED                                                           97
AUTOCYCLE                                                       95
LOW SPEED VEHICLE                                               92
CROSS COUNTRY BUS                                               83
FARM VEHICLE                                                    81
LIMOUSINE                                                       75
Name: Vehicle Body Type, dtype: int64

In [ ]:
df['Vehicle Body Type'] = [x if ((x=='PASSENGER CAR') | (x=='(SPORT) UTILITY VEHICLE') |( x=='PICKUP TRUCK')|(x=='VAN')|( x=='TRANSIT BUS')|(x=='SCHOOL BUS')|( x=='CARGO VAN/LIGHT TRUCK 2 AXLES (OVER 10,000LBS (4,536 KG))')) else 'OTHER' for x in df['Vehicle Body Type']]

In [ ]:
tst_data['Vehicle Body Type'] = [x if ((x=='PASSENGER CAR') | (x=='(SPORT) UTILITY VEHICLE') |( x=='PICKUP TRUCK')|(x=='VAN')|( x=='TRANSIT BUS')|(x=='SCHOOL BUS')|( x=='CARGO VAN/LIGHT TRUCK 2 AXLES (OVER 10,000LBS (4,536 KG))')) else 'OTHER' for x in tst_data['Vehicle Body Type']]

In [ ]:
df['Vehicle Body Type'].value_counts()

PASSENGER CAR                                                34162
OTHER                                                         6711
(SPORT) UTILITY VEHICLE                                       4493
PICKUP TRUCK                                                  2060
VAN                                                           1471
TRANSIT BUS                                                   1124
SCHOOL BUS                                                     869
CARGO VAN/LIGHT TRUCK 2 AXLES (OVER 10,000LBS (4,536 KG))      600
Name: Vehicle Body Type, dtype: int64

In [ ]:


df,new,tst_data,new_test =onehot(df,'Vehicle Body Type',tst_data)
df=pd.concat([df,new],axis=1)
tst_data=pd.concat([tst_data,new_test],axis=1)

In [ ]:
df.drop(['Report Number'],axis=1,inplace=True)

In [ ]:
tst_data.drop(['Report Number'],axis=1,inplace=True)

In [ ]:
df['Vehicle First Impact Location'].value_counts()

TWELVE OCLOCK    19695
SIX OCLOCK       10379
ONE OCLOCK        4713
ELEVEN OCLOCK     3975
TWO OCLOCK        1825
TEN OCLOCK        1815
SEVEN OCLOCK      1391
FIVE OCLOCK       1302
FOUR OCLOCK       1251
EIGHT OCLOCK      1143
NINE OCLOCK       1064
THREE OCLOCK      1042
UNKNOWN            892
UNDERSIDE          310
NON-COLLISION      242
ROOF TOP           229
nan                222
Name: Vehicle First Impact Location, dtype: int64

In [ ]:
df.shape

(51490, 73)

In [ ]:
df['Vehicle First Impact Location'] = ['OTHER' if ((x=='UNDERSIDE') | (x=='UNKNOWN') |( x=='NON-COLLISION')|(x=='ROOF TOP')) else x for x in df['Vehicle First Impact Location']]

In [ ]:
tst_data['Vehicle First Impact Location'] = ['OTHER' if ((x=='UNDERSIDE') | (x=='UNKNOWN') |( x=='NON-COLLISION')|(x=='ROOF TOP')) else x for x in tst_data['Vehicle First Impact Location']]

In [ ]:



df,new,tst_data,new_test =onehot(df,'Vehicle First Impact Location',tst_data)
df=pd.concat([df,new],axis=1)
tst_data=pd.concat([tst_data,new_test],axis=1)

In [ ]:
df['Vehicle Second Impact Location']

0        TWELVE OCLOCK
1        TWELVE OCLOCK
2           SIX OCLOCK
3           TWO OCLOCK
4           SIX OCLOCK
             ...
51485    TWELVE OCLOCK
51486    TWELVE OCLOCK
51487    TWELVE OCLOCK
51488    ELEVEN OCLOCK
51489       TWO OCLOCK
Name: Vehicle Second Impact Location, Length: 51490, dtype: object

In [ ]:
df['Vehicle Second Impact Location'].value_counts()

TWELVE OCLOCK    19583
SIX OCLOCK       10252
ONE OCLOCK        4629
ELEVEN OCLOCK     3875
TWO OCLOCK        1886
TEN OCLOCK        1848
SEVEN OCLOCK      1399
FIVE OCLOCK       1310
FOUR OCLOCK       1284
EIGHT OCLOCK      1176
THREE OCLOCK      1135
NINE OCLOCK       1087
UNKNOWN            898
UNDERSIDE          349
ROOF TOP           295
NON-COLLISION      250
nan                234
Name: Vehicle Second Impact Location, dtype: int64

In [ ]:
df['Vehicle Second Impact Location'] = ['OTHER' if ((x=='UNDERSIDE') | (x=='UNKNOWN') |( x=='NON-COLLISION')|(x=='ROOF TOP')) else x for x in df['Vehicle Second Impact Location']]
tst_data['Vehicle Second Impact Location'] = ['OTHER' if ((x=='UNDERSIDE') | (x=='UNKNOWN') |( x=='NON-COLLISION')|(x=='ROOF TOP')) else x for x in tst_data['Vehicle Second Impact Location']]

In [ ]:



df,new,tst_data,new_test =onehot(df,'Vehicle Second Impact Location',tst_data)
df=pd.concat([df,new],axis=1)
tst_data=pd.concat([tst_data,new_test],axis=1)

In [ ]:
tst_data[['Longitude','Latitude']]

       Longitude   Latitude
0     -77.127668  38.988440
1     -77.205783  39.094075
2     -77.052688  39.047180
3     -77.238475  39.178007
4     -77.154043  39.056134
...          ...        ...
77230 -76.963613  39.116285
77231 -76.925858  39.108410
77232 -77.177598  39.122352
77233 -77.093128  38.983770
77234 -77.041102  39.010772

[77235 rows x 2 columns]

In [ ]:
df[['Longitude','Latitude']]

       Longitude   Latitude
0     -77.344203  39.263378
1     -77.063227  39.068913
2     -77.032718  38.993578
3     -77.086933  39.083480
4     -77.109168  38.996942
...          ...        ...
51485 -77.058543  39.175678
51486 -77.157818  39.105883
51487 -77.266897  39.191402
51488 -77.153778  39.066993
51489 -77.044988  39.060417

[51490 rows x 2 columns]

In [ ]:
df.drop(['Location'],axis=1,inplace=True)

In [ ]:
tst_data.drop(['Location'],axis=1,inplace=True)

In [ ]:
df['Injury Severity'].value_counts()

NO APPARENT INJURY          40511
POSSIBLE INJURY              5545
SUSPECTED MINOR INJURY       3993
SUSPECTED SERIOUS INJURY      914
FATAL INJURY                  527
Name: Injury Severity, dtype: int64

In [ ]:
df['Injury Severity'].replace({'NO APPARENT INJURY':0, 'POSSIBLE INJURY':1, 'SUSPECTED MINOR INJURY':2, 'SUSPECTED SERIOUS INJURY':3, 'FATAL INJURY':4},inplace=True)

In [ ]:
tst_data['Injury Severity'].replace({'NO APPARENT INJURY':0, 'POSSIBLE INJURY':1, 'SUSPECTED MINOR INJURY':2, 'SUSPECTED SERIOUS INJURY':3, 'FATAL INJURY':4},inplace=True)

In [ ]:
df['Drivers License State'].value_counts()

MD     40978
nan     2528
VA      1569
DC      1461
XX       463
       ...
AS        36
AK        35
ID        33
NL        31
MH        30
Name: Drivers License State, Length: 66, dtype: int64

In [ ]:
df['Drivers License State'] = [x if ((x=='MD') | (x=='VA') |( x=='DC')|(x=='PA')|(x=='XX')|(x=='FL')) else 'OTHER' for x in df['Drivers License State']]
tst_data['Drivers License State'] = [x if ((x=='MD') | (x=='VA') |( x=='DC')|(x=='PA')|(x=='XX')|(x=='FL')) else 'OTHER' for x in tst_data['Drivers License State']]

In [ ]:


df,new,tst_data,new_test =onehot(df,'Drivers License State',tst_data)
df=pd.concat([df,new],axis=1)
tst_data=pd.concat([tst_data,new_test],axis=1)

In [ ]:
np.count_nonzero(df['Person ID'].unique())

49209

In [ ]:
df.drop(['Person ID'],axis=1,inplace=True)

In [ ]:
tst_data.drop(['Person ID'],axis=1,inplace=True)

In [ ]:
df['Driver Substance Abuse'].value_counts()

NONE DETECTED                 35324
nan                            9095
UNKNOWN                        3381
ALCOHOL PRESENT                1403
ALCOHOL CONTRIBUTED             610
ILLEGAL DRUG PRESENT            293
MEDICATION PRESENT              261
ILLEGAL DRUG CONTRIBUTED        231
MEDICATION CONTRIBUTED          231
OTHER                           224
COMBINATION CONTRIBUTED         224
COMBINED SUBSTANCE PRESENT      213
Name: Driver Substance Abuse, dtype: int64

In [ ]:


df,new,tst_data,new_test =onehot(df,'Driver Substance Abuse',tst_data)
df=pd.concat([df,new],axis=1)
tst_data=pd.concat([tst_data,new_test],axis=1)

In [ ]:
df['Traffic Control'].value_counts()

NO CONTROLS                19627
TRAFFIC SIGNAL             16746
nan                         7774
STOP SIGN                   3771
OTHER                        793
FLASHING TRAFFIC SIGNAL      779
YIELD SIGN                   762
PERSON                       290
UNKNOWN                      272
WARNING SIGN                 259
RAILWAY CROSSING DEVICE      212
SCHOOL ZONE SIGN DEVICE      205
Name: Traffic Control, dtype: int64

In [ ]:
df['Traffic Control'] = [x if ((x=='NO CONTROLS') | (x=='TRAFFIC SIGNAL') |( x=='STOP SIGN')) else 'OTHER' for x in df['Traffic Control']]
tst_data['Traffic Control'] = [x if ((x=='NO CONTROLS') | (x=='TRAFFIC SIGNAL') |( x=='STOP SIGN')) else 'OTHER' for x in tst_data['Traffic Control']]

In [ ]:


df,new,tst_data,new_test =onehot(df,'Traffic Control',tst_data)
df=pd.concat([df,new],axis=1)
tst_data=pd.concat([tst_data,new_test],axis=1)

In [ ]:
df['Light'].value_counts()

DAYLIGHT                    33617
DARK LIGHTS ON              11224
DARK NO LIGHTS               1716
DUSK                         1425
DAWN                         1222
DARK -- UNKNOWN LIGHTING      727
nan                           704
UNKNOWN                       480
OTHER                         375
Name: Light, dtype: int64

In [ ]:



df,new,tst_data,new_test =onehot(df,'Light',tst_data)
df=pd.concat([df,new],axis=1)
tst_data=pd.concat([tst_data,new_test],axis=1)

In [ ]:
df['Surface Condition'].value_counts()

DRY                       34197
WET                        8593
nan                        5879
ICE                         530
SNOW                        528
UNKNOWN                     342
SLUSH                       281
WATER(STANDING/MOVING)      252
OTHER                       242
MUD, DIRT, GRAVEL           226
OIL                         222
SAND                        198
Name: Surface Condition, dtype: int64

In [ ]:
df['Surface Condition'] = [x if ((x=='DRY') | (x=='WET')) else 'OTHER' for x in df['Surface Condition']]

In [ ]:
tst_data['Surface Condition'] = [x if ((x=='DRY') | (x=='WET')) else 'OTHER' for x in tst_data['Surface Condition']]

In [ ]:



df,new,tst_data,new_test =onehot(df,'Surface Condition',tst_data)
df=pd.concat([df,new],axis=1)
tst_data=pd.concat([tst_data,new_test],axis=1)

In [ ]:
df['Weather'].value_counts()

CLEAR                       33114
RAINING                      6173
CLOUDY                       5293
nan                          4029
SNOW                          680
FOGGY                         377
UNKNOWN                       361
WINTRY MIX                    304
OTHER                         291
SLEET                         231
SEVERE WINDS                  220
BLOWING SNOW                  216
BLOWING SAND, SOIL, DIRT      201
Name: Weather, dtype: int64

In [ ]:
df['Weather'] = [x if ((x=='CLEAR') | (x=='RAINING')|(x=='CLOUDY')) else 'OTHER' for x in df['Weather']]
tst_data['Weather'] = [x if ((x=='CLEAR') | (x=='RAINING')|(x=='CLOUDY')) else 'OTHER' for x in tst_data['Weather']]

In [ ]:


df,new,tst_data,new_test =onehot(df,'Weather',tst_data)
df=pd.concat([df,new],axis=1)
tst_data=pd.concat([tst_data,new_test],axis=1)

In [ ]:
df['Collision Type'].value_counts()

SAME DIR REAR END               16731
STRAIGHT MOVEMENT ANGLE          8556
OTHER                            5469
SINGLE VEHICLE                   4717
SAME DIRECTION SIDESWIPE         4419
HEAD ON LEFT TURN                3855
HEAD ON                          1195
SAME DIRECTION LEFT TURN         1156
SAME DIRECTION RIGHT TURN        1151
OPPOSITE DIRECTION SIDESWIPE      889
ANGLE MEETS LEFT TURN             750
ANGLE MEETS RIGHT TURN            479
SAME DIR REND LEFT TURN           360
ANGLE MEETS LEFT HEAD ON          341
SAME DIR REND RIGHT TURN          338
UNKNOWN                           304
nan                               299
SAME DIR BOTH LEFT TURN           273
OPPOSITE DIR BOTH LEFT TURN       208
Name: Collision Type, dtype: int64

In [ ]:
df['Collision Type'] = [x if ((x=='SAME DIR REAR END') | (x=='STRAIGHT MOVEMENT ANGLE')|(x=='HEAD ON LEFT TURN')| (x=='SAME DIRECTION SIDESWIPE')|(x=='SINGLE VEHICLE') | (x=='SAME DIRECTION LEFT TURN ')|(x=='HEAD ON') ) else 'OTHER' for x in df['Collision Type']]
tst_data['Collision Type'] = [x if ((x=='SAME DIR REAR END') | (x=='STRAIGHT MOVEMENT ANGLE')|(x=='HEAD ON LEFT TURN')| (x=='SAME DIRECTION SIDESWIPE')|(x=='SINGLE VEHICLE') | (x=='SAME DIRECTION LEFT TURN ')|(x=='HEAD ON') ) else 'OTHER' for x in tst_data['Collision Type']]

In [ ]:



df,new,tst_data,new_test =onehot(df,'Collision Type',tst_data)
df=pd.concat([df,new],axis=1)
tst_data=pd.concat([tst_data,new_test],axis=1)

In [ ]:
df['Cross-Street Name']

0            THURSTON RD
1               FLACK ST
2           STRUC #15082
3           FRANKFORT DR
4            MCKINLEY ST
              ...
51485       GOLD MINE RD
51486          E GUDE DR
51487           BRINK RD
51488    TOWER OAKS BLVD
51489      GLENALLAN AVE
Name: Cross-Street Name, Length: 51490, dtype: object

In [ ]:
df.drop(['Cross-Street Name'],axis=1,inplace=True)
tst_data.drop(['Cross-Street Name'],axis=1,inplace=True)

In [ ]:
df['Cross-Street Type'].value_counts()

County                  24694
Maryland (State)         7157
Municipality             5555
nan                      5019
Unknown                  3958
Ramp                     1946
Other Public Roadway     1268
US (State)                650
Government                574
Interstate (State)        421
Service Road              248
Name: Cross-Street Type, dtype: int64

In [ ]:
df['Cross-Street Type'] = [x if ((x=='County') | (x=='Maryland (State)')|(x=='Municipality')) else 'OTHER' for x in df['Cross-Street Type']]
tst_data['Cross-Street Type'] = [x if ((x=='County') | (x=='Maryland (State)')|(x=='Municipality')) else 'OTHER' for x in tst_data['Cross-Street Type']]

In [ ]:


df,new,tst_data,new_test =onehot(df,'Cross-Street Type',tst_data)
df=pd.concat([df,new],axis=1)
tst_data=pd.concat([tst_data,new_test],axis=1)

In [ ]:
df['Road Name']

0           OLD HUNDRED RD
1                 JANET RD
2            COLESVILLE RD
3              PARKLAND DR
4        OLD GEORGETOWN RD
               ...
51485          GEORGIA AVE
51486         FREDERICK RD
51487         FREDERICK RD
51488         WOOTTON PKWY
51489          RANDOLPH RD
Name: Road Name, Length: 51490, dtype: object

In [ ]:
df['Road Name'].value_counts()

nan                    4502
GEORGIA AVE            3122
NEW HAMPSHIRE AVE      2020
FREDERICK RD           1624
ROCKVILLE PIKE         1345
                       ...
BACALL LA                 1
TWIN BRANCHES DRIVE       1
WEDGE WAY                 1
OAKRIDGE LA               1
KENBROOK DR               1
Name: Road Name, Length: 2227, dtype: int64

In [ ]:
df.drop(['Road Name'],axis=1,inplace=True)
tst_data.drop(['Road Name'],axis=1,inplace=True)

In [ ]:
df['Route Type'].value_counts()

Maryland (State)        22482
County                  16059
nan                      4968
Municipality             2840
US (State)               2291
Interstate (State)       1145
Other Public Roadway      489
Ramp                      398
Government                390
Service Road              218
Unknown                   210
Name: Route Type, dtype: int64

In [ ]:
df.drop(['Route Type'],axis=1,inplace=True)
tst_data.drop(['Route Type'],axis=1,inplace=True)

In [ ]:
df['ACRS Report Type']

0                 Injury Crash
1                 Injury Crash
2        Property Damage Crash
3                 Injury Crash
4                 Injury Crash
                 ...
51485             Injury Crash
51486             Injury Crash
51487             Injury Crash
51488             Injury Crash
51489    Property Damage Crash
Name: ACRS Report Type, Length: 51490, dtype: object

In [ ]:
df['ACRS Report Type'].value_counts()

Property Damage Crash    31660
Injury Crash             18978
Fatal Crash                852
Name: ACRS Report Type, dtype: int64

In [ ]:
df['ACRS Report Type'].replace({'Property Damage Crash':0, 'Injury Crash':1, 'Fatal Crash':2},inplace=True)
tst_data['ACRS Report Type'].replace({'Property Damage Crash':0, 'Injury Crash':1, 'Fatal Crash':2},inplace=True)

In [ ]:
df['Local Case Number']

0        10196
1        20080
2        10103
3        10208
4         1091
         ...
51485    10034
51486    20221
51487     1007
51488     1034
51489    10006
Name: Local Case Number, Length: 51490, dtype: object

In [ ]:
df['Local Case Number'].value_counts()

nan      6453
1005      236
1004      229
1013      215
1000      213
         ...
1505        1
1100        1
20556       1
10903       1
20531       1
Name: Local Case Number, Length: 1430, dtype: int64

In [ ]:
df.drop(['Local Case Number'],axis=1,inplace=True)
tst_data.drop(['Local Case Number'],axis=1,inplace=True)

In [ ]:
df.shape

(51490, 135)

In [ ]:
tst_data.shape

(77235, 135)

In [ ]:
df['Agency Name']

0         Montgomery County Police
1         Montgomery County Police
2         Montgomery County Police
3         Montgomery County Police
4         Montgomery County Police
                   ...
51485     Montgomery County Police
51486     Montgomery County Police
51487     Montgomery County Police
51488    Rockville Police Departme
51489     Montgomery County Police
Name: Agency Name, Length: 51490, dtype: object

In [ ]:
df['Agency Name'].value_counts()

Montgomery County Police     39084
MONTGOMERY                    4246
Rockville Police Departme     2888
Gaithersburg Police Depar     2241
Takoma Park Police Depart     1052
Maryland-National Capital      525
ROCKVILLE                      502
GAITHERSBURG                   404
MCPARK                         277
TAKOMA                         271
Name: Agency Name, dtype: int64

In [ ]:
def split_lower(x):
    split_list = x.split(' ')
    mean = split_list[0].lower()
    return mean
df['Agency Name'] = df['Agency Name'].apply(lambda x: split_lower(x))
tst_data['Agency Name'] = tst_data['Agency Name'].apply(lambda x: split_lower(x))

In [ ]:
df['Agency Name'].value_counts()

montgomery           43330
rockville             3390
gaithersburg          2645
takoma                1323
maryland-national      525
mcpark                 277
Name: Agency Name, dtype: int64

In [ ]:
df['Agency Name'] = [x if ((x=='montgomery') | (x=='rockville')) else 'OTHER' for x in df['Agency Name']]

In [ ]:
tst_data['Agency Name'] = [x if ((x=='montgomery') | (x=='rockville')) else 'OTHER' for x in tst_data['Agency Name']]

In [ ]:

df,new,tst_data,new_test =onehot(df,'Agency Name',tst_data)
df=pd.concat([df,new],axis=1)
tst_data=pd.concat([tst_data,new_test],axis=1)

In [ ]:
def add_dateparts(df, col):
    df[col + '_year'] = df[col].dt.year
    df[col + '_month'] = df[col].dt.month
    df[col + '_day'] = df[col].dt.day
    df[col + '_weekday'] = df[col].dt.weekday
    df[col + '_hour'] = df[col].dt.hour
add_dateparts(df,'Crash Date/Time')
add_dateparts(tst_data,'Crash Date/Time')

In [ ]:
df.drop(['Crash Date/Time'],axis=1, inplace=True)
tst_data.drop(['Crash Date/Time'],axis=1, inplace=True)

In [ ]:
s = (df.dtypes == 'object')

object_cols = list(s[s].index)
len(object_cols)

0

In [ ]:
s = (tst_data.dtypes == 'object')

object_cols = list(s[s].index)
len(object_cols)

0

In [ ]:
df['ACRS Report Type'].value_counts()

0    31660
1    18978
2      852
Name: ACRS Report Type, dtype: int64

In [ ]:
n = ((df.dtypes == "int64" ) | (df.dtypes == "float64"))
numerical_cols = list(n[n].index)
len(numerical_cols)

141

In [ ]:
n = ((tst_data.dtypes == "int64" ) | (tst_data.dtypes == "float64"))
numerical_cols = list(n[n].index)
len(numerical_cols)

141

In [ ]:
df.shape

(51490, 141)

In [ ]:
tst_data.shape

(77235, 141)

In [ ]:
tst_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77235 entries, 0 to 77234
Columns: 141 entries, Id to Crash Date/Time_hour
dtypes: float64(129), int64(12)
memory usage: 83.1 MB

In [ ]:
df_train = df
df_test = tst_data

In [ ]:
Colns_null_count_tst = dict(df_test.isnull().sum())
Colns_null_count_tst

{'Id': 0,
 'ACRS Report Type': 0,
 'Injury Severity': 0,
 'Speed Limit': 0,
 'Driverless Vehicle': 0,
 'Parked Vehicle': 0,
 'Vehicle Year': 0,
 'Latitude': 0,
 'Longitude': 0,
 'Vehicle Damage ExtentDESTROYED': 0,
 'Vehicle Damage ExtentDISABLING': 0,
 'Vehicle Damage ExtentFUNCTIONAL': 0,
 'Vehicle Damage ExtentNO DAMAGE': 0,
 'Vehicle Damage ExtentOTHER': 0,
 'Vehicle Damage ExtentSUPERFICIAL': 0,
 'Vehicle Damage ExtentUNKNOWN': 0,
 'Vehicle Damage Extentnan': 0,
 'Equipment ProblemsAIR BAG FAILED': 0,
 'Equipment ProblemsBELT(S) MISUSED': 0,
 'Equipment ProblemsBELTS/ANCHORS BROKE': 0,
 'Equipment ProblemsFACING WRONG WAY': 0,
 'Equipment ProblemsNO MISUSE': 0,
 'Equipment ProblemsOTHER': 0,
 'Equipment ProblemsSTRAP/TETHER LOOSE': 0,
 'Equipment ProblemsUNKNOWN': 0,
 'Equipment Problemsnan': 0,
 'Vehicle Going DirEast': 0,
 'Vehicle Going DirNorth': 0,
 'Vehicle Going DirSouth': 0,
 'Vehicle Going DirUnknown': 0,
 'Vehicle Going DirWest': 0,
 'Vehicle Going Dirnan': 0,
 'Vehicle Continuing DirEast': 0,
 'Vehicle Continuing DirNorth': 0,
 'Vehicle Continuing DirSouth': 0,
 'Vehicle Continuing DirUnknown': 0,
 'Vehicle Continuing DirWest': 0,
 'Vehicle Continuing Dirnan': 0,
 'Vehicle MovementACCELERATING': 0,
 'Vehicle MovementCHANGING LANES': 0,
 'Vehicle MovementMAKING LEFT TURN': 0,
 'Vehicle MovementMAKING RIGHT TURN': 0,
 'Vehicle MovementMOVING CONSTANT SPEED': 0,
 'Vehicle MovementOTHER': 0,
 'Vehicle MovementSLOWING OR STOPPING': 0,
 'Vehicle MovementSTARTING FROM LANE': 0,
 'Vehicle MovementSTOPPED IN TRAFFIC LANE': 0,
 'Vehicle Body Type(SPORT) UTILITY VEHICLE': 0,
 'Vehicle Body TypeCARGO VAN/LIGHT TRUCK 2 AXLES (OVER 10,000LBS (4,536 KG))': 0,
 'Vehicle Body TypeOTHER': 0,
 'Vehicle Body TypePASSENGER CAR': 0,
 'Vehicle Body TypePICKUP TRUCK': 0,
 'Vehicle Body TypeSCHOOL BUS': 0,
 'Vehicle Body TypeTRANSIT BUS': 0,
 'Vehicle Body TypeVAN': 0,
 'Vehicle First Impact LocationEIGHT OCLOCK': 0,
 'Vehicle First Impact LocationELEVEN OCLOCK': 0,
 'Vehicle First Impact LocationFIVE OCLOCK': 0,
 'Vehicle First Impact LocationFOUR OCLOCK': 0,
 'Vehicle First Impact LocationNINE OCLOCK': 0,
 'Vehicle First Impact LocationONE OCLOCK': 0,
 'Vehicle First Impact LocationOTHER': 0,
 'Vehicle First Impact LocationSEVEN OCLOCK': 0,
 'Vehicle First Impact LocationSIX OCLOCK': 0,
 'Vehicle First Impact LocationTEN OCLOCK': 0,
 'Vehicle First Impact LocationTHREE OCLOCK': 0,
 'Vehicle First Impact LocationTWELVE OCLOCK': 0,
 'Vehicle First Impact LocationTWO OCLOCK': 0,
 'Vehicle First Impact Locationnan': 0,
 'Vehicle Second Impact LocationEIGHT OCLOCK': 0,
 'Vehicle Second Impact LocationELEVEN OCLOCK': 0,
 'Vehicle Second Impact LocationFIVE OCLOCK': 0,
 'Vehicle Second Impact LocationFOUR OCLOCK': 0,
 'Vehicle Second Impact LocationNINE OCLOCK': 0,
 'Vehicle Second Impact LocationONE OCLOCK': 0,
 'Vehicle Second Impact LocationOTHER': 0,
 'Vehicle Second Impact LocationSEVEN OCLOCK': 0,
 'Vehicle Second Impact LocationSIX OCLOCK': 0,
 'Vehicle Second Impact LocationTEN OCLOCK': 0,
 'Vehicle Second Impact LocationTHREE OCLOCK': 0,
 'Vehicle Second Impact LocationTWELVE OCLOCK': 0,
 'Vehicle Second Impact LocationTWO OCLOCK': 0,
 'Vehicle Second Impact Locationnan': 0,
 'Drivers License StateDC': 0,
 'Drivers License StateFL': 0,
 'Drivers License StateMD': 0,
 'Drivers License StateOTHER': 0,
 'Drivers License StatePA': 0,
 'Drivers License StateVA': 0,
 'Drivers License StateXX': 0,
 'Driver Substance AbuseALCOHOL CONTRIBUTED': 0,
 'Driver Substance AbuseALCOHOL PRESENT': 0,
 'Driver Substance AbuseCOMBINATION CONTRIBUTED': 0,
 'Driver Substance AbuseCOMBINED SUBSTANCE PRESENT': 0,
 'Driver Substance AbuseILLEGAL DRUG CONTRIBUTED': 0,
 'Driver Substance AbuseILLEGAL DRUG PRESENT': 0,
 'Driver Substance AbuseMEDICATION CONTRIBUTED': 0,
 'Driver Substance AbuseMEDICATION PRESENT': 0,
 'Driver Substance AbuseNONE DETECTED': 0,
 'Driver Substance AbuseOTHER': 0,
 'Driver Substance AbuseUNKNOWN': 0,
 'Driver Substance Abusenan': 0,
 'Traffic ControlNO CONTROLS': 0,
 'Traffic ControlOTHER': 0,
 'Traffic ControlSTOP SIGN': 0,
 'Traffic ControlTRAFFIC SIGNAL': 0,
 'LightDARK -- UNKNOWN LIGHTING': 0,
 'LightDARK LIGHTS ON': 0,
 'LightDARK NO LIGHTS': 0,
 'LightDAWN': 0,
 'LightDAYLIGHT': 0,
 'LightDUSK': 0,
 'LightOTHER': 0,
 'LightUNKNOWN': 0,
 'Lightnan': 0,
 'Surface ConditionDRY': 0,
 'Surface ConditionOTHER': 0,
 'Surface ConditionWET': 0,
 'WeatherCLEAR': 0,
 'WeatherCLOUDY': 0,
 'WeatherOTHER': 0,
 'WeatherRAINING': 0,
 'Collision TypeHEAD ON': 0,
 'Collision TypeHEAD ON LEFT TURN': 0,
 'Collision TypeOTHER': 0,
 'Collision TypeSAME DIR REAR END': 0,
 'Collision TypeSAME DIRECTION SIDESWIPE': 0,
 'Collision TypeSINGLE VEHICLE': 0,
 'Collision TypeSTRAIGHT MOVEMENT ANGLE': 0,
 'Cross-Street TypeCounty': 0,
 'Cross-Street TypeMaryland (State)': 0,
 'Cross-Street TypeMunicipality': 0,
 'Cross-Street TypeOTHER': 0,
 'Agency NameOTHER': 0,
 'Agency Namemontgomery': 0,
 'Agency Namerockville': 0,
 'Crash Date/Time_year': 0,
 'Crash Date/Time_month': 0,
 'Crash Date/Time_day': 0,
 'Crash Date/Time_weekday': 0,
 'Crash Date/Time_hour': 0}

In [ ]:
df_test.isnull().sum()

Id                         0
ACRS Report Type           0
Injury Severity            0
Speed Limit                0
Driverless Vehicle         0
                          ..
Crash Date/Time_year       0
Crash Date/Time_month      0
Crash Date/Time_day        0
Crash Date/Time_weekday    0
Crash Date/Time_hour       0
Length: 141, dtype: int64

In [ ]:
s = (df_test.dtypes == 'object')

object_cols = list(s[s].index)
len(object_cols)

0

In [ ]:
df_test.dtypes

Id                         int64
ACRS Report Type           int64
Injury Severity            int64
Speed Limit                int64
Driverless Vehicle         int64
                           ...
Crash Date/Time_year       int64
Crash Date/Time_month      int64
Crash Date/Time_day        int64
Crash Date/Time_weekday    int64
Crash Date/Time_hour       int64
Length: 141, dtype: object

In [ ]:
df_train_x = df_train.drop('Fault', axis=1)

In [ ]:
df_train_y = df['Fault']

In [ ]:
tst_data['Id']

0            0
1            1
2            2
3            3
4            4
         ...
77230    77230
77231    77231
77232    77232
77233    77233
77234    77234
Name: Id, Length: 77235, dtype: int64

In [ ]:
df_test_x=tst_data.drop("Id",axis=1)

In [ ]:
df_train_x.shape

(51490, 140)

In [ ]:
df_test_x.shape

(77235, 140)

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.feature_selection import RFE
from sklearn.svm import SVC

In [ ]:
pip install xgboost

Requirement already satisfied: xgboost in e:\anaconda3\lib\site-packages (1.5.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: scipy in e:\anaconda3\lib\site-packages (from xgboost) (1.6.2)
Requirement already satisfied: numpy in e:\anaconda3\lib\site-packages (from xgboost) (1.20.1)

In [ ]:
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
import xgboost

In [ ]:
#from sklearn import cross_validation
clf_xgb = xgboost.XGBClassifier(objective = 'binary:logistic')
param_dist = {"learning_rate"    : [0.05, 0.10, 0.15, 0.20, 0.25, 0.30 ] ,
 "max_depth"        : [ 3, 4, 5, 6, 8, 10, 12, 15],
 "min_child_weight" : [ 1, 3, 5, 7 ],
 "gamma"            : [ 0.0, 0.1, 0.2 , 0.3, 0.4 ],
 "colsample_bytree" : [ 0.3, 0.4, 0.5 , 0.7 ]
             }

numFolds = 5
#kfold_5 = cross_validation.KFold(n = len(X), shuffle = True, n_folds = numFolds)

clf = RandomizedSearchCV(clf_xgb, 
                         param_distributions = param_dist,
                         cv = 5,  
                         n_iter = 5, # you want 5 here not 25 if I understand you correctly 
                         scoring = 'roc_auc', 
                         error_score = 0, 
                         verbose = 3, 
                         n_jobs = -1)
clf.fit(df_train_x,df_train_y)

Fitting 5 folds for each of 5 candidates, totalling 25 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  19 out of  25 | elapsed:  1.7min remaining:   31.7s
[Parallel(n_jobs=-1)]: Done  25 out of  25 | elapsed:  2.4min finished

[17:55:19] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

RandomizedSearchCV(cv=5, error_score=0,
                   estimator=XGBClassifier(base_score=None, booster=None,
                                           colsample_bylevel=None,
                                           colsample_bynode=None,
                                           colsample_bytree=None,
                                           enable_categorical=False, gamma=None,
                                           gpu_id=None, importance_type=None,
                                           interaction_constraints=None,
                                           learning_rate=None,
                                           max_delta_step=None, max_depth=None,
                                           min_child_weight=None, missing=nan,
                                           monoto...
                                           validate_parameters=None,
                                           verbosity=None),
                   iid='warn', n_iter=5, n_jobs=-1,
                   param_distributions={'colsample_bytree': [0.3, 0.4, 0.5,
                                                             0.7],
                                        'gamma': [0.0, 0.1, 0.2, 0.3, 0.4],
                                        'learning_rate': [0.05, 0.1, 0.15, 0.2,
                                                          0.25, 0.3],
                                        'max_depth': [3, 4, 5, 6, 8, 10, 12,
                                                      15],
                                        'min_child_weight': [1, 3, 5, 7]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring='roc_auc', verbose=3)

In [ ]:
clf.best_params_

{'min_child_weight': 1,
 'max_depth': 8,
 'learning_rate': 0.15,
 'gamma': 0.2,
 'colsample_bytree': 0.5}

In [ ]:
clf.best_estimator_

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.5,
              enable_categorical=False, gamma=0.2, gpu_id=-1,
              importance_type=None, interaction_constraints='',
              learning_rate=0.15, max_delta_step=0, max_depth=8,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=8, num_parallel_tree=1,
              objective='binary:logistic', predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', use_label_encoder=True,
              validate_parameters=1, verbosity=None)

In [ ]:

classifier=xgboost.XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.5,
              enable_categorical=False, gamma=0.2, gpu_id=-1,
              importance_type=None, interaction_constraints='',
              learning_rate=0.15, max_delta_step=0, max_depth=8,
              min_child_weight=1,  monotone_constraints='()',
              n_estimators=50, n_jobs=8, num_parallel_tree=1,
              objective='binary:logistic', predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', use_label_encoder=True,
              validate_parameters=1, verbosity=None)

In [ ]:
classifier.fit(df_train_x,df_train_y)

[19:04:48] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.0/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=0.5,
              enable_categorical=False, gamma=0.2, gpu_id=-1,
              importance_type=None, interaction_constraints='',
              learning_rate=0.15, max_delta_step=0, max_depth=8,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=50, n_jobs=8, num_parallel_tree=1, predictor='auto',
              random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
              subsample=1, tree_method='exact', validate_parameters=1,
              verbosity=None)

In [ ]:
y_pred=classifier.predict(df_train_x)
y_pred_test=classifier.predict(df_test_x)
from sklearn.metrics import accuracy_score
accuracy_score(df_train_y, y_pred)

0.871334239658186

In [ ]:
test=pd.read_csv(r'test (1).csv',parse_dates=['Crash Date/Time'])
OUTPUT =pd.DataFrame( { 'Id' : list(test['Id']), 'Fault':list(y_pred_test) })

E:\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [ ]:
OUTPUT.to_csv(r"KaGGle_submission_FINALE_xgboost_1.csv")